@import './var.scss';
@import './mixin.scss';

.grid {
    height: 100%;
    display : grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.flexbox {
    display: flex;
}

.board {

    grid-column: 3/10;
    grid-row: 3/10;
    padding : 5px;
    background: $dark-green;

    * {
        border: $border;
        grid-column: span 12;
        font-size : 16;
    }

    .board--title {
        grid-row: span 1;
        margin : 5px;
        grid-column: span 12;
        border : none;
        color : rgb(141, 26, 22);
        text-align: center;
        font-size : 24;
    }

    .board--DisplayOptions {

        grid-row: span 1;
        background:white;
        
        padding : 5px;
        display : flex;
        justify-content: space-around;

        * {
            align-self: center;
            text-align: center;
            border : $border;
        } 

        button {
            border : $border;
            height : 45px;
            width : 100px;
        }

        .checkStats {
            display : flex;
            justify-content: space-around;
            border : none;
            * {
                padding : 9px 10px;
                margin : 0px 5px;
                border : 0.25px solid black;
            } 
        }
        .divide {
            height: 60;
        }
    }

    .opponents {
        grid-row: span 2;
        background:white; 
        padding : 7.5px;
        .card {
            &:first-child {
                margin-left: 35px;
            }
            
        }
    }

    .pile {
        grid-row: span 2;
        background:$light-green;
        text-align: center;

        .deck {
            object-fit: cover;
            border : 0.25px solid black;
            margin: 15px;
        }
    }

    .player {
        grid-row: span 2;
        background:white;
        padding : 7.5px;

    }

    .card {
        border : 0.25px solid black;
        padding: 2.5px;
        margin:8px 10px;
        object-fit: cover;
        
    }
    .front {
        height:83px;
    }

    .back {
        background : url('../../JPEG/Red_back.jpg');
        width : 49px;
        height : 76px;
    }  
}

