@import './var.scss';
@import './mixin.scss';

.grid {
    height: 100%;
    display : grid;
    grid-gap: 10px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.flexbox {
    display: flex;
}

.board {
    grid-column: 2/13;
    grid-row: 2/13;
    background: $dark-green;

    * {
        border: $border;
    }

    .board--title {
        grid-row: 1/2;
        text-decoration: underline;
        grid-column: span 13;
    }

    .deck {
        grid-column: 2/3;
        grid-row: 9/13;
        background: $brown;
    }

    .player {
        background:white;
        grid-column : 3/13;
        grid-row : 9/13;
        padding: 5px;
    }

    .opponents {
        background:white;
        grid-column : 2/13;
        grid-row: 2/4;
    }
    .pile {
        grid-column: 2/13;
        grid-row: 4/9;
        background:$light-green;
    }

    .card {
        border : $border;
        padding: 2.5px;
        margin:5px 10px;
    }

    .back {
        background: $brown;
        color : $brown;
    }

    .score {
        background:white;
        * {
            border:none;
            margin:5px;
        }
    }
    .checkStats {
        background : white;
    }
    
}

