@import './var.scss';
@import './mixin.scss';

.grid {
    height: 100%;
    display : grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.flexbox {
    display: flex;
}



.board {

    grid-column: 3/11;
    grid-row: 3/11;
    padding : 5px;
    background: $dark-green;

    * {
        border: $border;
        grid-column: span 12;
    }

    .board--title {
        grid-row: span 1;
        margin : 5px;
        grid-column: span 12;
        color : red;
    }

    .board--DisplayOptions {

        grid-row: span 1;
        background:white;
        
        padding : 5px;
        display : flex;

        justify-content: space-around;

        * {
           padding : none;
           border : none;
           align-self: center;
        } 

        button {
            border : $border;
            height : 45px;
            width : 100px;
        }
    }

    .opponents {
        grid-row: span 2;
        background:white; 
    }

    .pile {
        grid-row: span 4;
        background:$light-green;

        .deck {
            object-fit: cover;
        }
    }

    .player {
        grid-row: span 2;
        background:white;
        padding: 5px;
    }

    .card {
        border : $border;
        padding: 2.5px;
        margin:5px 10px;
        .back {
            background : url('../../JPEG/Red_back.jpg');
        } 
    }

    
}

